@import './_fonts.sass' 
@import './_variables.sass'


a
    text-decoration: none
    font-size: 16px

header
    height: 8.5vh
    padding: 0 3rem
    .burger-menu
        height: 100%
        padding: 1rem 1rem
        background-color: #ef4f4f


    .logo-name
        font-weight: bold
        font-style: italic
        border-bottom: 3px solid rgba(100,100 ,100 ,0 )
    .header-container
        height: 100%
        nav
            height: 100%
            .nav-link
                font-style: italic
                font-size: 13px
                height: 100%
                color: white
                font-weight: bold
                border-bottom: 3px solid rgba(100,100 ,100 ,0 )

                &:hover
                    color: orange
                
            .nav-active
                color: orange
                border-bottom: 3px solid orange
    .icons
        font-size: 11px


        
